<h2>{{list.name}}</h2>
<ul>
  <li *ngFor="let task of tasks">
    <app-todo-task [task]="task"></app-todo-task>
  </li>
  <li>
    <input [(ngModel)]="newTask" (change)="addTask($event.target.value)" placeholder="Create new task">
  </li>
</ul>
<button (click)="clearCompleted()">Clear completed</button>
