<div class="container">
  <div *ngIf="!filled">
    <form class="formly form-horizontal" role="form" novalidate [formGroup]="form" (ngSubmit)="submit(data)">
      <formly-form [model]="data" [fields]="formFields">
        <button type="submit" class="btn btn-default">Button</button>
     </formly-form>
    </form>
  </div>
  <div *ngIf="filled">
    Thanks for filling up this form
  </div>
</div>
