<div class="flex-row">
  <app-todo-list *ngFor="let list of lists" [list]="list"></app-todo-list>
  <div>
    <input [ngModel]="newList" (change)="addList($event.target.value)" placeholder="Create a new list">
  </div>
</div>
